<!DOCTYPE html>
<html>
  <head>
    <title>RSSampler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= javascript_pack_tag "application" %>
  </head>


  <body class="min-h-screen bg-slate-900 text-slate-100" >
    <% routes = [] %>
    <% if current_user.present? %>
      <% routes += [
        { path: "/feeds", title: "Feeds" },
        { path: "/users/sign_out", title: "Log Out", method: :delete }
      ] %>
    <% else %>
      <% routes += [
        { path: "/users/sign_in", title: "Log In" },
        { path: "/users/sign_up", title: "Sign Up" },
      ] %>
    <% end %>
    <%= react_component("shared/nav", { routes: routes }) %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="mx-8 my-4">
      <%= yield %>
    </main>
  </body>
</html>
